h1 {
  text-align: center;
}

.form_add_article {
  width: 80vw;
  margin: auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.input-group input , .input-group textarea{
  height: 20px;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.input-group select {
  height: 50px;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

label {
  width: auto;
}
