p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button, .category {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

#form_add_article {
  width: 80vw;
  margin: auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.input-group input , .input-group textarea{
  height: 20px;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.input-group textarea {
    height: 150px;
}

.input-group select {
  height: 50px;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

label {
  width: auto;
  font-weight: bold;
}

.category, .article{
  background: white;
  transition: all ease-in-out 0.3s;
}

.category:hover , .article:hover {
  background: #ccc;
}